name: Package and upload to PyPI

# Publish when a (published) GitHub Release is created, or manually
on:
  workflow_dispatch:
  release:
    types:
      - published
      

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6

      # Used to host cibuildwheel
      - uses: actions/setup-python@v6
      
      - name: Load Fortran compiler
        uses: fortran-lang/setup-fortran@v1
        id: setup-fortran

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0
        env:
          CIBW_SKIP: pp* gp*  # build wheels for CPython only
          MACOSX_DEPLOYMENT_TARGET: 15.0

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
   
  make_sdist:
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-sdist
          path: dist/*.tar.gz
  
  upload_pypi:
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v6
        with:
          # unpacks all CIBW artifacts into dist/
          pattern: cibw-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1